sticky-header {
    header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        padding-block: 1rem;
        margin-bottom: calc(-1 * var(--header-height));
        z-index: 3;


        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);

        @media (max-width:1000px) {
            background-color: #fff;
            padding-block: 1rem !important;
        }

        .list-menu {
            display: inline-flex;
            flex-wrap: wrap;
            gap: 44px;

            a {
                text-decoration: none;
                font-size: 16px;
                font-style: normal;
                font-weight: 600;
                color: var(--primary-text-color);
                transition: color .42s ease;

                &:hover {
                    color: var(--hover-link-color);
                }
            }
        }

        .hamburder-menu {
            cursor: pointer;

            @media (min-width:800px) {
                display: none;
            }

            @media (max-width:800px) {
                 .icon-close {
                    display: none;
                 }
                &.active {
                    .icon-hamburguer {
                        display: none;
                    }

                    .icon-close {
                        display: block;
                    }
                }
            }
        }

        .login-area {
            .header__icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 50px;
                height: 46px;
                border-radius: 50%;
                /* background: linear-gradient(93deg, #B1FFEF -4.7%, #93F 29.52%, #FFB0FF 99.32%);
                box-shadow: -1px -2px 4px 0 rgba(0, 0, 0, 0.17) inset;
                transition: background .35s ease; */

                &:hover {}
            }
        }

        @media (max-width:800px) {

            .header__inline-menu,
            .login-area {
                display: none;
            }
        }

    }
}

.mobile-menu {
    position: fixed;
    left: 0;
    top: var(--header-height);
    transform: translateX(110%);
    height: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 2;
    transition: all .45s ease;
    padding: 2rem;

    &.active {
        transform: translateX(0);
    }

    @media (min-width:800px) {
        display: none;
    }

    .header__inline-menu {


        ul {
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        a {
            text-decoration: none;
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            color: var(--primary-text-color);

            &:hover {
                text-decoration: underline;
            }
        }
    }
}